* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    margin: auto;
    background: #3b5998;
    color: #3b5998;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*
div:hover {
    border: 1px solid #f1c40f;
}
*/

/* HEADER: logo + menu */

.header {
    background: #3b5998;
    color: white;
    padding:20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.header .c-header {
    width: 80%;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.logo-header {
    height: 50px;
}

a {
    color: #00AFF0;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-decoration: none;
}

a:hover {
    color:#d5a243;
}

.header2, .header3, .header4, .header5, .header6, .header7, .header8, .header9 {
    align-self: center;
    justify-self: end;
    width: 70%;

    color: white;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-decoration: none;
}

.medios {
    color: orange;
}

/* HERO */

#hero {
    background-color: orange;
    height: 40px;
}

#hero .c-hero {
    padding-top: 7px;
    width: 80%;
    margin: auto;
}




/* PISO 1: NOTICIA 20jul2022 */

.piso1 {
    background: #f7f7f7;
}

.c-piso1 {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
}

.piso1-grid {
    width: 100%;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 470px;
    gap: 50px;

    grid-template-areas: "piso1-textos img-piso1";
}

.piso1-textos {
    grid-area: piso1-textos;
}

.piso1 .c-piso1 .piso1-grid .piso1-textos h4 {
    font-weight: lighter;
    font-size: 24px;
    padding-bottom: 10px;
}

.piso1 .c-piso1 p {
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
}

.piso1 .c-piso1 .piso1-grid .piso1-textos h5 {
    padding-top: 10px;
}

.piso1 .c-piso1 .piso1-grid .piso1-textos h5 a {
    font-size: 14px;
    letter-spacing: 0px;
}

.img-piso1 {
    grid-area: img-piso1;
    width: 100%;
}

.justify {
    text-align: justify;

}

.link {
    border: #3b5998 1px solid !important   ;  
    text-decoration: none   ;
    padding: 5px;
    background-color: #3b5998;
    margin-top: 5px;
    color: #fff;
}


/* PISO 2: NOTICIA 15jul2022 */

.piso2 {
    background: #f7f7f7;
}

.c-piso2 {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    border-top: 1px solid #d5a243;
}

.piso2-grid {
    width: 100%;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 470px;
    gap: 50px;

    grid-template-areas: "piso2-textos img-piso2";
}

.piso2-textos {
    grid-area: piso2-textos;
}

.piso2 .c-piso2 .piso2-grid .piso2-textos h4 {
    font-weight: lighter;
    font-size: 24px;
    padding-bottom: 10px;
}

.piso2 .c-piso2 p {
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
}

.piso2 .c-piso2 .piso2-grid .piso2-textos h5 {
    padding-top: 10px;
}

.piso2 .c-piso2 .piso2-grid .piso2-textos h5 a {
    font-size: 14px;
    letter-spacing: 0px;
}

.img-piso2 {
    grid-area: img-piso2;
    width: 100%;
}



/* PISO 3: NOTICIA 30nov2021 */

.piso3 {
    background: white;
}

.c-piso3 {
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    border-top: 1px solid #d5a243;
}

.piso3-grid {
    width: 100%;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 470px;
    gap: 50px;

    grid-template-areas: "piso3-textos img-piso3";
}

.piso3-textos {
    grid-area: piso3-textos;
}

.piso3 .c-piso3 .piso3-grid .piso3-textos h4 {
    font-weight: lighter;
    font-size: 24px;
    padding-bottom: 10px;
}

.piso3 .c-piso3 p {
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
}

.piso3 .c-piso3 .piso3-grid .piso3-textos h5 {
    padding-top: 10px;
}

.piso3 .c-piso3 .piso3-grid .piso3-textos h5 a {
    font-size: 14px;
    letter-spacing: 0px;
}

.img-piso3 {
    grid-area: img-piso3;
    width: 100%;
}



/* FOOTER */

.c-footer {
    display: flex;
    background:#3b5998;
    margin: 0px;
}

.contenido-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.c-logo, .c-direccion {
    width: 80%;
}

.c-logo, .c-direccion, .c-email {
    align-self: center;
}

.logo-footer {
    height: 80px;
}

.texto-direccion, .texto-email {
    color: white;
    font-size: 14px;
    font-weight: lighter;
    line-height: 22px;
}




/* Responsive */

@media screen and (max-width: 720px) {
    
    .header .c-header {
        grid-template-columns: auto;
    }

    .header .c-header .header2, .header3, .header4, .header5, .header6, .header7, .header8, .header9 {
        align-self: center;
        justify-self: auto;
        padding-top: 10px;
        width: 100%;
    }

    
    #hero {
        height: 160px;
    }

    #hero .c-hero {
        width: 80%;
        margin: auto;
    }
    
    #hero .c-hero h1 {
        font-size: 48px;
        text-align: left;
        padding-top: 50px;
    }
   


    .piso1-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto; 
        grid-template-areas:    "piso1-textos"
                                "img-piso1";
    }

    .img-piso1 img {
        width: 100%;
    }


    .piso2-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto; 
        grid-template-areas:    "piso2-textos"
                                "img-piso2";
    }

    .img-piso2 img {
        width: 100%;
    }


    .piso3-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto; 
        grid-template-areas:    "piso3-textos"
                                "img-piso3";
    }

    .img-piso3 img {
        width: 100%;
    }


    .contenido-footer {
        grid-template-columns: auto;
    }

    .c-direccion {
        padding-top: 30px;
    }

    .c-email {
        padding-top: 20px;
        padding-bottom: 40px;
    }


 
}